.Background
	&-image
		background url('../images/backgroundLogin_intranet_AyL.jpg') fixed
		background-position center
		background-repeat no-repeat
		background-size cover
		height 100vh
		position relative
		width 100%
		transform scaleX(-1)
		filter FlipH
	&-containerText
		-moz-box-sizing border-box
		background #FFF
		box-sizing border-box
		margin 0
		padding 2em 0
		position relative
		width 100%
		z-index 2
	&-transparentImage
		background rgba(0, 0, 0, .3)
		height 100vh
		position absolute
		top 0
		width 100%
		z-index 2