nav(class="Menu")
	a(class="Menu-logoContainer")
		img(src="../public/images/logo_AyL.jpg", alt="Desarrolladora Arquitectura y Libertad" class="Menu-logoAYL")
		img(src="../public/images/logo.png", alt="Desarrolladora Arquitectura y Libertad" class="Menu-logoHome")