article(class="Login")
	div(class="Login-container")
		div(class="Login-FormContainer")
			img(src="../public/images/logo_AyL.jpg", alt="Desarrolladora Arquitectura y Libertad" class="Menu-logoAYL")
			form(action="" class="Login-form")
				input(type="email" class="Login-inputText" id="txtUsuario" runat="server" placeholder="Email" required)
				input(type="Password" class="Login-inputText" id="txtContrasenia" runat="server" placeholder="Password" required)
				input(type="submit" class="Login-button")
			a(href="http://www.a-l.com.mx/" target="_blank" class="Login-website") Portal corporativo A&L
